.header {

display: flex;
flex: 1;
flex-direction: column;

}

.hdr1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0;
    border: 0;
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {

    list-style-type:none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

a { 
    text-decoration: none;
    color: #F9FAF8;
}

.hdr2{

    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hdralt1{

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 200px;
}

.hdralt2 {

    background-color: #e5e7ebc4;
    margin: 0px;
    padding: 80px;
    border: 300px;
    margin: 20px;
    
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
}

.random-info{

    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container {

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    max-width: 400px;

}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.quote {

    background-color: #E5E7EB;
    font: 36px light italic #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.quote .container {

    padding: 10px;
    margin: 10px;
    border:1px;
    max-width: 450px;
}

.quote p {
    display: flex;
    justify-content: flex-end;
}


.banner {

    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box {
    width: 1000px;
    height: 100px;
    background-color: #3882F6;
    padding: 10px;
    border: 20px;
    margin: 30px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

}







.footer {

    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}